*, *:after. *:before {
    box-sizing: border-box;
}

body {
    font-size: 16px;

    margin: 0;
    padding: 0;
}

.card {
    font-family: 'Open Sans', sans-serif;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel {
    text-align: center;

    width: 320px;
    border-radius: 4px;

    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    transition: .4s;

    padding: 32px;
}

.login-panel__title {
    color: #FF0373;

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.message {
    font-weight: 600;
    padding: 5px;
}


.message__danger {
    color: #D0021B;
}

.message__success {
    color: #4BBD5C;
}

.auth-form-component {
    width: 100%;
    margin: 5px 0px;
    padding: 10px 14px;

    font-family: 'Open Sans', sans-serif;
}

.button {
    font-size: 1rem;

    outline: none;
    border: none;

    color: #fff;
    background: #FF0373;
}

.button:hover {
    color: #FF0373;
    background: #fff;


    outline: 1px solid #FF0373;

    cursor: pointer;
    transition: 0.4s;
}

.input {
    width: 90%;
    border: 1px solid #ede1eb;
    color: inherit;
}

.input:focus {
    outline: 1px solid #FF0373;
    transition: 0.1s;
    background: #fcf5fb;
}



